:root {
    --appbg0: rgb(227 19 55);
    --appbg1: rgb(227 19 55);
    --appbg2: #fff;
    --appbg3: #fff;
}
.appbg0 { background: var(--appbg0); }
.appbg1 { background: var(--appbg1); }
.appbg2 { background: var(--appbg2); }
.appbg3 { background: var(--appbg3); }

.btn {
  @apply mr-1 my-1 py-1 px-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-emerald-600 hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500 disabled:opacity-75 font-bold;
}
.btn2 {
  @apply mr-1 my-1 py-1 px-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-yellow-500 hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-400 disabled:opacity-75 font-bold;
}

.inputText {
    @apply appearance-none block px-1 py-0 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm;
}
.inputText1 {
    @apply appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm;
}

.inputSelect1 {
    @apply px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm;
}

.tab > button {
    @apply mx-1;
    padding: 0px 1px;
    font-weight: bold;
    border-bottom: 5px solid #c7c7c7;
}
.tab > button[aria-selected="true"] {
    border-bottom: 5px solid #059669;
}

.border-r-1 {
    border-right: 1px solid #950017;
}
.border-l-1 {
    border-left: 1px solid #950017;
}
.border-t-1 {
    border-top: 1px solid #950017;
}
.border-b-1 {
    border-bottom: 1px solid #950017;
}
.avCommunity {
    width: 54px;
    height: 54px;
}
.avMini {
    width: 20px;
    height: 20px;
}
.avMessage {
    width: 42px;
    height: 42px;
}
.avConversation {
    width: 35px;
    height: 35px;
}
.w-200 { width: 200px; }
.mr-5px { margin-right: 5px;}
.oi-x { top: 0px;}

@tailwind base;
@tailwind components;
@tailwind utilities;

hr {
    border-top: 1px solid #0000003d;
    height: 1px;
    width: 100%;
    margin: 3px 0px 0px 0px;
}
.vue-simple-context-menu {
    border: 1px solid #c7c7c7;
    font-family: inherit;
}
.vue-simple-context-menu__item {
    @apply text-sm;
    padding: 3px 10px;
}
.vue-simple-context-menu__item:hover {
  background-color: teal;
  color: #fff;
}

